* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5rem;
    margin-top: 5px;
    margin-left: 300px;
    margin-right: 200px;
    

}

#burger {
  margin-right: 50px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: relative;
  animation-duration: 4s;
}

#nav-links {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: -500px;
  right: 0px;
  transition: all 0.5s;
  margin-right: 390px;
}

#nav-links li {
  list-style: none;
}

#nav-links a {
  text-decoration: none;
  font-size: 1.25rem;
  letter-spacing: 0.1875rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    cursor: pointer;
  }
  
  span {
    display: block;
    width: 100%;
    box-shadow: 10px 2px 10px 2px rgba(0,0,0,0.3);
    border-radius: 3px;
    height: 8px;
    background: #000000;
    transition: all .3s;
    position: relative;
  }
  
  span + span {
    margin-top: 20px;
  }
  
  .active span:nth-child(1) {
    -moz-animation: ease .7s top forwards;
  }
  
  .not-active span:nth-child(1) {
    -moz-animation: ease .7s top-2 forwards;
  }
  
  .active span:nth-child(2) {
    -moz-animation: ease .7s scaled forwards;
  }
  
  .not-active span:nth-child(2) {
    -moz-animation: ease .7s scaled-2 forwards;
  }
  
  .active span:nth-child(3) {
    -moz-animation: ease .7s bottom forwards;
  }
  
  .not-active span:nth-child(3) {
    -moz-animation: ease .7s bottom-2 forwards;
  }
  
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 22px;
      transform: rotate(0);
    }
    100% {
      top: 22px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 22px;
      transform: rotate(45deg);
    }
    50% {
      top: 22px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 22px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: 22px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }


.nav_active {
    transform: translateY(580px);
}


/*

.box {
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: #3faf82;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
}

.burger_toggle #burger_line_2 {
  opacity: 100;
}

.burger_toggle #burger_line_1 {
  animation-name: line_move_1;
  animation-duration: 1s;
}

.burger_toggle #burger_line_3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

*/